# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# MongoDB database files (WiredTiger and diagnostics)
*.wt
*.ns
*.lock
*.local
*.log
*.turtle
*.bson
WiredTiger
diagnostic.data/
dump/
journal/

# Docker
docker-compose.override.yml
